<% orders.each do |order| %>
<tr>
  <td><%= order.table_number %></td>
  <td><%= time_ago_in_words(order.created_at) %></td>
  <td>
    <% order.items.each do |item| %>
      <p><%= item.name %></p>
    <% end %>
  </td>
  <td><%= order.special %></td>
  <% if !order.completed %>
    <td><%= check_box_tag "completed", order.id %></td>
  <% else %>
    <td>
      <%= form_tag order_path, method: "delete" do %>
        <%= submit_tag "Delete" %>
      <% end %>
    </td>
    <% end %>
  <td>
    <p><%= link_to "Edit", edit_order_path(order.id) %></p>
    <p><%= link_to "View", order_path(order.id) %></p>
  </td>
  </tr>
<% end %>
