<div class="menu">
  <%= render partial: "category",
  locals: {name: "Appetizers", category: @appetizers} %>
  <%= render partial: "category",
  locals: {name: "Salads", category: @salads} %>
  <%= render partial: "category",
  locals: {name: "Entrees", category: @entrees} %>
  <%= render partial: "category",
  locals: {name: "Beverages", category: @beverages} %>
  <%= render partial: "category",
  locals: {name: "Desserts", category: @desserts} %>
</div>

<% if is_manager? %>
  <%= link_to "Add Item", new_item_path %>
<% end %>
